@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<h3 class="md-2">Change Creator name Cookie</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/ChangeCreator.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, is the home screen where you can set the name of the user this will carry
            through the site after the text is set by pressing the save settings button.
        </p>
    </div>
</div>

<h3 class="md-2">Login</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/Login.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, the login will pop up when trying to create, edit and delete 
            the quiz, question and options. To login enter the login details and press login,
            if you dont know your login details contact admin.
        </p>
    </div>
</div>

<h3 class="md-2">Create a new Quiz</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/CreateQuiz.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, after entering required details press create.</p>
    </div>
</div>

<h3 class="md-2">Edit Quiz</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/EditQuiz.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, After changing disired details press save and changes will change.</p>
    </div>
</div>

<h3 class="md-2">Delete Quiz</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/DeleteQuiz.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, To delete the Quiz just press delete, 
            make sure that the entry is the disired entry to delete</p>
    </div>
</div>

<h3 class="md-2">Create a new Question</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/CreateQuestion.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, after entering required details press create.</p>
    </div>
</div>

<h3 class="md-2">Edit Question</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/QuestionEdit.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, After changing disired details press save and changes will change.</p>
    </div>
</div>

<h3 class="md-2">Delete Question</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/DeleteQuestion.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, To delete the Question just press delete, 
            make sure that the entry is the disired entry to delete</p>
    </div>
</div>

<h3 class="md-2">Create a new Option</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/OptionCreate.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, after entering required details press create.</p>
    </div>
</div>

<h3 class="md-2">Edit Option</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/OptionEdit.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, After changing disired details press save and changes will change.</p>
    </div>
</div>

<h3 class="md-2">Delete Option</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/OptionDelete.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, To delete the Option just press delete, 
            make sure that the entry is the disired entry to delete</p>
    </div>
</div>