@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<h3 class="md-2">Create a new Quiz</h3>

<div class="row border">
    <div class="col-6">
        <img src="~/Pictures/Help/CreateQuiz.png" height="400px" width="auto"/>
    </div>
    <div class="col-6 text-center d-flex align-items-center">
        <p>In image to left, we make a Quiz</p>
    </div>
</div>

