@model QuizProjectFE.Models.DTO.QuestionCreate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QuestionCreate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionTopic" class="control-label"></label>
                <input asp-for="QuestionTopic" class="form-control" />
                <span asp-validation-for="QuestionTopic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionImg" class="control-label"></label>
                <input asp-for="QuestionImg" class="form-control" />
                <span asp-validation-for="QuestionImg" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="QuizId" class="control-label"></label>
                <input asp-for="QuizId" class="form-control" />
                <span asp-validation-for="QuizId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="QuizId" class="control-label"></label>
                <select asp-for="QuizId" asp-items="@ViewBag.quizeselect" class="form-control">
                </select>
                
                <span asp-validation-for="QuizId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h2>Upload Picture</h2>
<div class="row">
    @using (Html.BeginForm("Uploadfile", "Question",FormMethod.Post, new { @class = "dropzone", id = "dropzone-form" }))
    {
        <div>
            <input name="file" type="file"/>
        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/dropzone/min/dropzone.min.js"></script>

<script type="text/javascript">
    Dropzone.options.dropzoneForm = {
        paramName:"file",
        maxFile: 1,
        acceptedFiles: "image/*"
        success: function (file, response){
            $('#QuestionImg').val(file.upload.filename)
            file.previewElement.classList.add("dz-success");
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
